doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title lesson 2 JS Pre
  link(rel='stylesheet', href='css/style.min.css')
body
  .fon
    header.fon__header
      .fon__header_text1 DREAMSHARE
      .fon__header_text2
        .fon__header_text2-login Log in
        .fon__header_text2-signup Sign Up
    .central
      .central__block
        span.share SHARE YOUR
        br
        span.holiday HOLIDAY DREAM
    .fon__small And find the perfect partner to fillfill it
    .fon__btn
      .fon__btn_text Find your holiday partner
  section.sector
    section.block-1
      .block-1__text
        h3 How Dreamshare works?
      .block-1__photos
        img.step1(src='@img/Step 1.png', alt='')
        img.step1mid(src='@img/Step 1 mids.png', alt='')
        img.step1small(src='@img/Step 1small.png', alt='')
        img.step2(src='@img/Step 2.png', alt='')
        img.step2mid(src='@img/Step 2 mid.png', alt='')
        img.step2small.media-p(src='@img/Step 2small.png', alt='')
        img.step3(src='@img/Step 3.png', alt='')
        img.step3mid(src='@img/Step 3 mids.png', alt='')
        img.step3small(src='@img/Step 3small.png', alt='')
  section.sector-2
    section.block-2
      .block-2__text
        h3.h3-holiday Meet a partner for your best holiday
      .block-2__photos
        .block-2__photos_avatar1
          .block-2__photos_avatar1-bred
            img(src='@img/Avatar.png', alt='...')
          .block-2__photos_avatar1-h6
            h6 Bredley Hunter
          .block-2__photos_avatar1-span
            span Based in Chicago. I love playing tennis and loud music.
        .block-2__photos_avatar1
          .block-2__photos_avatar1-bred
            img(src='@img/Avatar2.png', alt='...')
          .block-2__photos_avatar1-h6
            h6 Marie Bannett
          .block-2__photos_avatar1-span
            span
              | Currently living in Colorado. Lover of art, languages and
              | travelling.
        .block-2__photos_avatar1.mid
          .block-2__photos_avatar1-bred
            img(src='@img/Avatar3.png', alt='...')
          .block-2__photos_avatar1-h6
            h6 Diana Wells
          .block-2__photos_avatar1-span
            span
              | Living in Athens, Greece. I love black and white classics,
              | chillout music and green tea.
        .block-2__photos_avatar1.mid
          .block-2__photos_avatar1-bred
            img(src='@img/Avatar4.png', alt='...')
          .block-2__photos_avatar1-h6
            h6 Christopher Pierce
          .block-2__photos_avatar1-span
            span
              | Star Wars fanatic. I have a persistent enthusiasm to create new
              | things.
  .block-2__button
    button.block-2__button_off See other partners
  main.sector-3
    section.block-3
      .block-3__text
        h3.h3-holiday Discover holiday activity ideas
      .block-3__photos
        img.big-photo(src='@img/Sport.png', alt='')
        img.mid-photo.w-adapt(src='@img/Sportmid.png', alt='')
        img.small-photo(src='@img/Sportsmall.png', alt='')
        img.big-photo(src='@img/Healath.png', alt='')
        img.mid-photo.w-adapt(src='@img/Healathmid.png', alt='')
        img.small-photo.adaptuv-p(src='@img/Healathsmall.png', alt='')
        img.big-photo(src='@img/Extreme.png', alt='')
        img.mid-photo.w-adapt(src='@img/Extrememid.png', alt='')
        img.small-photo(src='@img/Extremesmall.png', alt='')
      .block-3__centralphoto
        img.big-photo(src='@img/Games.png', alt='')
        img.mid-photo.widthAdap(src='@img/Gamesmid.png', alt='')
        img.small-photo(src='@img/Gamessmall.png', alt='')
        img.big-photo(src='@img/Culture.png', alt='')
        img.mid-photo.widthAdapMax(src='@img/Culturemid.png', alt='')
        img.small-photo.adp-p(src='@img/Culturesmall.png', alt='')
      .block-3__endphoto
        img.big-photo(src='@img/Culture Copy.png', alt='')
        img.mid-photo.widthAdapMax(src='@img/Culture Copymid.png', alt='')
        img.small-photo(src='@img/Culture Copysmall.png', alt='')
        img.big-photo(src='@img/Games Copy.png', alt='')
        img.mid-photo.widthAdap(src='@img/Games Copymid.png', alt='')
        img.small-photo.adp-p(src='@img/Games Copysmall.png', alt='')
  section.sector-4
    .block-4
      .block-4__text
        h3.h3-holidays Create your holiday activity
      .block-4__container
        p Hi! What are your holiday interests?
      .block-4__inp
        input.block-4__inp_input(type='text', placeholder='Enter your insterests')
        button.block-4__inp_butt(type='button')
          | Search partners
  .aside-line
  footer.footer
    .footer__dreamshare DREAMSHARE
    .footer__company
      span.footer__company_text Company
      br
      br
      br
      .obolonka
        span.footer__company_grey About
        br
        br
        span.footer__company_grey  Contact
        br
        br
        span.footer__company_grey  Press
        br
        br
        span.footer__company_grey  Blog
        br
        br
        span.footer__company_grey  Terms and Privacy
        br
        br
        span.footer__company_grey  Help
        br
        br
        br
    .footer__partner Partners
    .footer__DESIGNED
      span.footer__DESIGNED_texts DESIGNED BY
      br
      img.footer__DESIGNED_image(src='@img/Bitmap.png', alt='')
      script(src='js/app.min.js')